* {
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.wrapper {
  margin: 2rem 10rem;
}
header, h1, h2, h3, p {
  margin-bottom: 1rem
}
header p{
  padding: 1rem;
  border: 2px dashed darkgray;
  border-radius: 10px
}
main {
  background-color: coral
   
}
.content-wrapper {
  background-color: red;
}
.ads-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-gap: 2%;
}
section.anuncio {
  border-radius: 5px;
  width: auto;
  height: 22rem;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: aqua
}

a {
  color: #00B7FF;
}
img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}
